<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parag Refrigations</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="title">
        <h1>PARAG</h1>
        <h3>Refrigerations And Air Conditioning Engineers</h3>
        <h5>Prop. Prakash Kamble</h5>
    </div>

    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="products_parag_web.html">Products</a>  <!--dropdown 1.Products 2.Services-->
        <a href="Offers_parag_web.html">Offers</a>
        <a href="Contact_parag_web.html">Contact</a>
        <a href="Blig_parag_web.html">Blog</a>
        <a href="Testimonial_parag_web.html">Testimonial</a>
        <a href="About_parag_web.html">About</a>   
    </div>


</body>
</html>